<div>
<table>
    <tr>
https:///www.ifdmboutique.fr
<td>
date
</td>

</tr>
<tr>
<td>
IFDM
</td>
<td>
456789
</td>

</tr>
<tr>
<td>
Référence commande
</td>
<td>
<%=@payment.id%>
</td>

</tr>
<tr>
<td>
Montant
</td>
<td>
<%=number_to_currency(@sum)%>
</td>

</tr>

</table>

<p>
payable en <%=t("my.option",count:@payment.option)%> ci-dessous.
</p>

<table>
<tr>
    <td>
Echéance
</td>
<td>
Date de vente
</td>
<td>
montant
</td>

</tr>
<%@table.each_with_index do |xx,i|%>
<tr>
    <td>
<%=i+1%>
</td>
<td>
<%=l(xx[0])%>
</td>
<td>
<%=number_to_currency(xx[1],locale: :fr)%>
</td>

</tr>
<%end%>
</table>

</div>
<p>
    <%=render "cards/form", card: @card%>
</p>
 <div id="overlay"> <div id="text">
<div><span >https://bdx-test-payzen/acs/v1/...</span></div>
<div id="wait1">
<p>
Loading
</p>
<div class="progress">
  <div id="hello" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
</div>
<p>
Please wait
</p>
</div>
<div id="wait2">
<p style="background:blue;color:white;">
simulation secure
</p>

  <img src="/uploads/paiementsverif.png" />

<p>
<div class="progress">
  <div id="hi" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>

</p>
</div>
<div style="display:none;" id="wait3">
</div>
</div></div> 
