<div class="col">
<div>panier</div>
<%=render collection: @achats, partial:"mycourse", as: :course%>
<div class="card" style="width: 40rem;">
  <div class="card-body" style="">
    <p style="" class="card-text"><%= t('misc.articles', :count => @total.to_i) %> <%=number_to_currency(@sum)%></p>
    <p style="" class="card-text">Total <%=number_to_currency(@sum)%></p>
<%if @achats.length > 0%>
<p><a href="/okorder" class="btn btn-primary">commander</a></p>
<%end%>
</div>
</div>


</div>
<p><%=link_to "continuer mes achats", "/achats-cours-collectifs"%></p>
