<p id="notice"><%= notice %></p>

<h1>Webbillets</h1>

<table>
  <thead>
    <tr>
      <th>Flyer</th>
      <th>Url</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webbillets.each do |webbillet| %>
      <tr>
        <td><%= webbillet.flyer %></td>
        <td><%= webbillet.url %></td>
        <td><%= webbillet.title %></td>
        <td><%= link_to 'Show', webbillet %></td>
        <td><%= link_to 'Edit', edit_webbillet_path(webbillet) %></td>
        <td><%= link_to 'Destroy', webbillet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webbillet', new_webbillet_path %>
